/* base */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
h3,
p {
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
}

/* button */
.btn-toggle {
  background: #1d3557;
  color: #ffffff;
  font-weight: 600;
  border: 1px solid #1d3557;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  margin: 12px auto;
  display: block;
}

/* additional css for navbar */
.navbar {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #1d3557;
  padding: 12px;
}
.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}
